{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<h1 class="text-center" style="color: #0055A3;">Sistema de Controle de Produtos</h1>

<div class="text-center mt-4">
    <a href="{{ url_for('cadastro') }}" class="btn btn-primary" style="background-color: #E50028; border-color: #E50028;">Cadastrar Produto</a>
</div>

<div class="text-center mt-4">
    <a href="{{ url_for('export') }}" class="btn btn-primary" style="background-color: #0055A3; border-color: #0055A3;">Exportar Produtos para Excel</a>
</div>

<div class="text-center mt-4">
    <a href="{{ url_for('ver_itens') }}" class="btn btn-primary" style="background-color: #0055A3; border-color: #0055A3;">Ver Itens Cadastrados</a>
</div>
{% endblock %}
